body {
    background-color: #f8f0e376; 
    /* background-image:
        radial-gradient(circle, #f7f4ee 20%, transparent 20%),
        radial-gradient(circle, #f7f4ee 20%, transparent 20%); */
    background-size: 20px 20px; /* Size of the speckle */
    background-position: 0 0, 5px 5px; /* Positioning of speckles */
    font-family: "Optima", sans-serif;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}
